@use '../abstract/var' as var;

h1, h2 {
    font-family: map-get(var.$family-type, bebas), sans-serif;
    font-size: map-get(var.$size-type, jumbo-size);
    font-weight: 600;
    line-height: 0.85;
}


h3 {
    font-family: map-get(var.$family-type, bebas), sans-serif;
    font-size: map-get(var.$size-type, sub-title-size);
    font-weight: 600;
    line-height: 1;
}

h4 {
    font-family: map-get(var.$family-type, play), sans-serif;
    font-size: map-get(var.$size-type, sub-title2-size);
}

h5 {
    font-family: map-get(var.$family-type, bebas), sans-serif;
    font-size: map-get(var.$size-type, ph2-size);
}

h6 {
    font-family: map-get(var.$family-type, bebas), sans-serif;
    font-size: map-get(var.$size-type, title-size);
    font-weight: 600;
}

p {
    font-family: map-get(var.$family-type, play), sans-serif;
    font-size: map-get(var.$size-type, ph-size);
    font-weight: 400;
    line-height: 1.4;
}